@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

html, 
body, 
#root {
  height: 100%;
}

html {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
  }
  @media (min-width: 768px) {
    html {
      
      font-size: 16px;
    }
  }
  
  .container {
    max-width: 960px;
  }
  
  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
    min-width: 220px;
  }
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
  .app {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
  }
    .app-header {
      flex-grow: 0;
    }
    .app-main {
      flex: 1;
    }
    .app-footer {
      flex-grow: 0;
    }

  .home-search {
    margin-top: 3rem;
  }
  @media (min-width: 768px) {
    .home-search {
      margin-top: 10rem;
    }
  }
    .searchbar  {
      position: relative;
      margin-top: 2rem;
    }
    .searchbar input {
      padding: 15px 20px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      z-index: 10;
    }
    .searchbar button {
      z-index: 10;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    .autocomplete {
      background: #fff;
      width: 100%;
      display: none;
      position: absolute;
      top: 97%;
      border: 1px solid #ccc;
      z-index: 0;
    }
    .autocomplete.visible {
      display: block;
    }
    .autocomplete .suggestion {
      transition: all .1s ease-in-out;
      padding: 16px 20px;
      font-size: 16px;
      text-align: left;
      cursor: pointer;
    }
    .autocomplete .suggestion:hover {
      background: #bbddff;
    }
    .tag-container {
      height: 56px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      z-index: 10;
      padding: 0 10px;
      border: 1px solid #ced4da;
      flex: 1;
    }