@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

html, 
body, 
#root {
  height: 100%;
}

html {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
  }
  @media (min-width: 768px) {
    html {
      
      font-size: 16px;
    }
  }
  
  .container {
    max-width: 960px;
  }
  
  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
    min-width: 220px;
  }
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
.app {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}
  .app-header {
    flex-grow: 0;
    flex-shrink: 0;
  }
  .app-main {
    flex: 1;
  }
  .app-footer {
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 20px;
  }

.home-search {
  margin-top: 3rem;
}
@media (min-width: 768px) {
  .home-search {
    margin-top: 10rem;
  }
}
.home-search .text {

}

.searchbar  {
  position: relative;
  margin-top: 2rem;
}
.searchbar input {
  padding: 15px 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 10;
}
.searchbar button {
  z-index: 10;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.autocomplete {
  background: #fff;
  width: 100%;
  display: none;
  position: absolute;
  top: 97%;
  border: 1px solid #ccc;
  z-index: 0;
}
.autocomplete.visible {
  display: block;
}
.autocomplete .suggestion {
  transition: all .1s ease-in-out;
  padding: 16px 20px;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
}
.autocomplete .suggestion:hover {
  background: #bbddff;
}
.tag-container {
  height: 56px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 10;
  padding: 0 10px;
  border: 1px solid #ced4da;
  flex: 1;
}

.results-area {
  margin-top: 5rem;
  max-height: 0;
  overflow-y: hidden;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}
.results-area.visible {
  display: block;
  max-height: 100%;
  opacity: 1;
  transition: opacity .2s ease-in-out;
}
.results-area h1 {
  font-size: 28px;
  margin-bottom: 20px;
}
.card {
  flex-flow: row nowrap;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.card:hover {
  box-shadow: 7px 10px 8px -10px rgba(0,0,0, .2);
}
.card .resume {
  display: none;
}
.card.open .resume {
  display: block;
}
.card .links {
  margin: 0;
}
.specialities {
  margin: .5rem 0;
}
.avatar {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 10px;
  box-sizing: content-box;
  flex-shrink: 0;
}
.avatar img {
  margin-top: -12px;
  margin-left: -5px;
}
@media (max-height: 500px) {
  .searchbar, .home-search {
    margin-top: 0;
  }
  .home-search .text {
    display: none;
  }
  footer {
    display: none;
  }
}

  